Example/build/Pods.build
Example/HKChineseWords.xcodeproj/project.xcworkspace
Example/HKChineseWords.xcodeproj/xcuserdata
Example/HKChineseWords.xcworkspace/xcuserdata
Example/HKChineseWords.xcworkspace
